{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitList | List</title>
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>
    <!--CABEÇALHO-->
    <header>
        <img width="50" id="githublogo" src="{% static 'img/github.png' %}"
        <div class="container">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'lista-perfis' %}">Lista</a></li>
            </ul>
        </div>
    </header>

    <div>
        <h1>Lista de perfis:</h1>
        {% if perfis %}
            {% for perfil in perfis %}
                <div id="perfil">

                    <div id="informações">

                        <div>
                        {% if perfil.nome %}
                            <p id="nome">{{ perfil.nome }}</p>
                            <p id="login">{{ perfil.login }}</p>
                        {% else %}
                            <p id="nome">{{ perfil.login }}</p>
                        {% endif %}
                        </div>

                    </div>
                    <div>
                        {% if not perfil.nome %}
                            <a href="{% url 'ver-perfil' perfil.id %}"><button id="buttonlogin">Informações</button></a>
                        {% else %}
                            <a href="{% url 'ver-perfil' perfil.id %}"><button>Informações</button></a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p id="Vazio">Nenhum perfil encontrado</p>
        {% endif %}

        <a href="{% url 'adicionar-perfil' %}"><button id="adicionar">Adicionar perfil</button></a>
        
        {% if perfis|length > 1 %}
            <a href="{% url 'limpar-lista' %}"><button id="limpar">Limpar lista</button></a>
        {% endif %}
    </div>
</body>
</html>