<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitList | Retirar</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <img src="{{perfil.img}}"/>
        {% if perfil.nome %}
            <p>Deseja retirar {{perfil.nome}}?</p>
        {% else %}
            <p>Deseja retirar {{perfil.login_nome}}?</p>
        {% endif %}
        <button type="submit">Retirar</button>
    </form>
</body>
</html>